html, body, div {
	font-size: 12pt;
	font-family: "Avenir Next", "Lucida Grande", sans-serif; 
	margin: 3pt 0pt;
	padding: 0pt 0pt;
	border: none;
}

ul {
	padding: 0pt;
}

.content {
	width: 80%;
	margin: 0 auto;
	padding: 0pt 24pt;
}

h1 {
	font-size: 14pt;
	font-weight: 400;
	padding: 8pt 0pt 8pt 0pt;
	margin: 14pt 0pt;
}

h3 {
	font-weight: 600;
	font-size: 12pt;
	padding: 0pt 0pt 2pt 0pt;
	margin: 0pt;
}

.icon {
	width: 16pt;
	height: 16pt;
	padding: 5pt 5pt 5pt 0pt;
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, 170pt);
	grid-gap: 16pt;
}

a {
	color: black;
	text-decoration: none;
	font-size: 12pt;
}

a:hover {
	text-decoration: underline;
}

.policy {
	font-size: 9pt;
	color: #888;
}
